/*********
**********
    RESET
    *********
    *********/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*********
**********
    LAYOUT
    *********
    *********/
body {
  font-family: "Kumbh Sans", sans-serif;
  display: grid;
  grid-template-rows: 5fr 2fr;
  grid-template-columns: 1fr;
}

@media (min-width: 1100px) {
  body {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 1310px) {
  body {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1.2fr;
  }
}

@media (min-width: 1700px) {
  body {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1.4fr;
    overflow-y: hidden;
  }
}
.light-background {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #fafafa;
}

@media (min-width: 1100px) {
  .light-background {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.dark-background {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #25293a;
  background-image: url(../assets/home/bg-pattern-footer.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .dark-background {
    background-position: center -900px;
    background-size: auto;
  }
}

@media (min-width: 1100px) {
  .dark-background {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.main-container {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 85%;
  margin: 0 auto;
  z-index: 100;
  max-width: 400px;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 90%;
  }
}

@media (min-width: 1100px) {
  .main-container {
    grid-column: 1/3;
    max-width: 1100px;
    margin-bottom: 3em;
  }
}

@media (min-width: 1100px) {
  main {
    display: flex;
    justify-content: space-between;
  }
}

header {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

@media (min-width: 768px) {
  header {
    justify-content: start;
  }
}

/*********
**********
    HERO SECTION
    *********
    *********/

.sign-up-hero {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .sign-up-hero {
    max-width: 570px;
    margin: 0 auto;
    margin-bottom: 5em;
  }
}

@media (min-width: 1100px) {
  .sign-up-hero {
    flex-basis: 50%;
    margin: 0;
    align-items: flex-start;
  }
}

.hero-text {
  text-align: center;
  margin-bottom: 4em;
}

@media (min-width: 1100px) {
  .hero-text {
    text-align: left;
  }
}

.hero-text-title {
  font-size: 2.5rem;
  color: #333950;
  font-weight: 700;
  margin-bottom: 0.5em;
}

@media (min-width: 1100px) {
  .hero-text-title {
    font-size: 3.5rem;
    margin-bottom: 0.2em;
  }
}

.hero-text-paragraph {
  color: #747b95;
}

@media (min-width: 1100px) {
  .hero-text-paragraph {
    font-size: 1.125rem;
  }
}

@media (min-width: 1100px) {
  .countdown {
    width: 100%;
  }
}

.countdown-date {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333950;
  letter-spacing: 5px;
  margin-bottom: 1.5em;
  text-align: center;
}

@media (min-width: 1100px) {
  .countdown-date {
    text-align: left;
  }
}

.date {
  color: #5175ff;
}

.countdown-cells {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

@media (min-width: 768px) {
  .countdown-cells {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1100px) {
  .countdown-cells {
    margin: 0;
  }
}

.countdown-cell {
  background: rgba(81, 117, 255, 0.1);
  text-align: center;
  padding: 0.6em 1.2em;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .countdown-cell {
    border-radius: 13px;
  }
}

.count-number {
  font-size: 2rem;
  color: #5175ff;
  font-weight: 700;
}

@media (min-width: 768px) {
  .count-number {
    font-size: 3.5rem;
  }
}

.unit {
  font-size: 0.75rem;
  font-weight: 700;
  color: #333950;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .unit {
    font-size: 1rem;
    font-weight: 700;
  }
}

/*********
**********
    SIGN UP FORM
    *********
    *********/

.sign-up-form {
  background: #ffffff;
  padding: 2em;
  border-radius: 13px;
  margin-bottom: 4em;
  filter: drop-shadow(0 50px 25px rgba(75, 92, 154, 0.23));
  /* box-shadow: 50px 0 50px -25px #4b5c9a; */
}

@media (min-width: 768px) {
  .sign-up-form {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 7em;
  }
}

@media (min-width: 1100px) {
  .sign-up-form {
    flex-basis: 40%;
    margin: 0;
  }
}

.input-form,
.dropdown-menu {
  width: 100%;
}

.input-form {
  font-size: 1rem;
  color: #333950;
  padding-left: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, 50%);
}

.form-error {
  background: url("../assets/sign-up/icon-cross.svg") no-repeat right 0.8em top;
}

.input-form::placeholder {
  color: var(--placeholder-color, #747b95);
  opacity: var(--placeholder-opacity, 1);
}

.input-form:focus {
  outline: none;
}

.selected-choice {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(116, 123, 149, 50%);
  margin-bottom: 1.5em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  cursor: pointer;
}

.selected-choice p {
  color: #333950;
  font-weight: bold;
  margin: 0;
}

.selected-choice p span {
  opacity: 0.4;
  margin-left: 0.5em;
}

.arrow-icon {
  align-self: center;
}

.selection-menu {
  position: absolute;
  width: 279px;
  background: #ffffff;
  border: 1px solid rgba(116, 123, 149, 15.3%);
  border-radius: 8px;
  padding: 1.5em 2em;
  z-index: 1000;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.3s ease-in-out;
}

.selection-menu ul li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(116, 123, 149, 50%);
  margin-bottom: 1em;
}

.selection-menu ul li p {
  color: #333950;
  font-weight: bold;
  margin: 0;
}

.selection-menu .price {
  opacity: 0.4;
  margin-left: 0.5em;
}

.selection-menu .check-icon {
  align-self: center;
}

.last-input {
  margin-bottom: 2.5em;
}

.choice:hover {
  cursor: pointer;
}

.pro-choice .check-icon,
.ultimate-choice .check-icon {
  visibility: hidden;
}

.signup-link {
  background: #5175ff;
  text-decoration: none;
  color: #ffffff;
  padding: 1em 2em;
  border-radius: 28px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.signup-link:hover {
  background: #829cff;
}

.signup-link:focus {
  background: #829cff;
}
